[Desktop Entry]
Encoding=UTF-8
Name=Inforevealer
Comment=Generate a report toward a problem
Exec=inforevealer --gui
Icon=
Terminal=False
Type=Application
Categories=Utility;GTK;
